* {
  margin: 0;
  box-sizing: border-box;
}

.image-icon {
  width: 55px;
  height: 55px;
  align-items: center;
  margin-top: 5px;
  margin-right: 20px;
}

.headline-main {
  display: flex;
  justify-content: center;
  background-color: #a46905;
}

.headline {
  color: rgb(253, 249, 6);
  /* display: flex;
  justify-content: center; */
  font-size: 3.5rem;
  height: 4.5rem;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.headline-sec {
  margin-left: 50px;
  margin-top: 35px;
  color: aliceblue;
  font-size: 1rem;
  text-decoration: none;
}

.sub-headings{
  display: flex;
  justify-content: center;
  background-color: #2cae04;
  color: rgb(251, 206, 28);
  height: 2.5rem;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #0c135e;
  height: 2.5rem;
  color: #ffef08;
  align-items: center;
}

p {
  font-size: 1.2rem;
  color: #04093e;
}